# Data Preprocessing

In [ ]:
import pandas as pd
import numpy as np

data = pd.read_csv('healthcare-dataset-stroke-data.csv')
data = data.dropna()
data = data[data["smoking_status"].str.contains("Unknown") == False]
data['gender'].replace(['Female','Male','Other'], [0,1,2],inplace=True)
data['ever_married'].replace(['No','Yes'],[0,1],inplace=True)
data['work_type'].replace(['Self-employed','Private', 'Govt_job', 'children', 'Never_worked'],[0,1,2,3,4],inplace=True)
data['Residence_type'].replace(['Urban','Rural'],[0,1],inplace=True)
data['smoking_status'].replace(['never smoked','formerly smoked','smokes'],[0,1,2],inplace=True)

Dalam kode diatas kami mengimport file dan juga melakukan preprocessing seperti menghapus data null dan merubah data kategorikal menjadi angka.

In [ ]:
x, y = data.iloc[:, 1:-1], data.iloc[:, [-1]]
y = y.values
y = y.ravel()

Lalu setelah itu kami memisahkan target prediksi dengan fitur.

In [ ]:
x

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1,67.0,0,1,1,1,0,228.69,36.6,1
2,1,80.0,0,1,1,1,1,105.92,32.5,0
3,0,49.0,0,0,1,1,0,171.23,34.4,2
4,0,79.0,1,0,1,0,1,174.12,24.0,0
5,1,81.0,0,0,1,1,0,186.21,29.0,1
...,...,...,...,...,...,...,...,...,...,...
5100,1,82.0,1,0,1,0,1,71.97,28.3,0
5102,0,57.0,0,0,1,1,1,77.93,21.7,0
5106,0,81.0,0,0,1,0,0,125.20,40.0,0
5107,0,35.0,0,0,1,0,1,82.99,30.6,0
5108,1,51.0,0,0,1,1,1,166.29,25.6,1

In [ ]:
y

array([1, 1, 1, ..., 0, 0, 0])

# KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import numpy as np

In [ ]:
for z in range(2, 10):
  knn = KNeighborsClassifier(n_neighbors=z)
  x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=80)
  print(f'Test #{z-1} with n_neighbors = {z}:')
  knn.fit(x_train, y_train)
  print(knn.score(x_test, y_test))

Test #1 with n_neighbors = 2:
0.9463243873978997
Test #2 with n_neighbors = 3:
0.9381563593932322
Test #3 with n_neighbors = 4:
0.9521586931155193
Test #4 with n_neighbors = 5:
0.9428238039673279
Test #5 with n_neighbors = 6:
0.9533255542590432
Test #6 with n_neighbors = 7:
0.9498249708284714
Test #7 with n_neighbors = 8:
0.9544924154025671
Test #8 with n_neighbors = 9:
0.9509918319719953

Pada snippet code diatas kami melakukan 8 kali iterasi untuk mencari n yang menghasilkan akurasi paling besar. Kami menemukan bahwa 8 memiliki akurasi paling besar.

In [ ]:
from sklearn import metrics

In [ ]:
knn = KNeighborsClassifier(n_neighbors=8)
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=80)
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=8)

Lalu kami menentukan 6 sebagai nilai n yang digunakan.

In [ ]:
y_pred = knn.predict(x)

In [ ]:
print(metrics.classification_report(y, y_pred))

              precision    recall  f1-score   support

           0       0.95      1.00      0.97      3246
           1       0.50      0.01      0.01       180

    accuracy                           0.95      3426
   macro avg       0.72      0.50      0.49      3426
weighted avg       0.92      0.95      0.92      3426

Diatas merupakan hasil prediksi seluruh x dibandingkan dengan y aktual dari seluruh x.